VITE_APP_NAME=LabInspeção_UniSENAI
VITE_APP_VERSION=4.0.0-alpha.1
VITE_BASE_PATH=/
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/SEU_ID/exec
VITE_ACCESS_TOKEN=TROQUE_POR_UM_TOKEN
VITE_CLASS_GROUP=6SEM_2026
VITE_ONLINE_ENABLED=false
